/*
The main color set only contains greys, light whites
and the theme blue color called "ease".
*/
/* > standard text colors */
/* > colors for links */
/* > code sections / fragments */
/* > quotes / citations */
/* > image captions / subtitles */
/* > icons (usually imagery only) */
/* > informational, contextually lower important text elements */
/* > presentational canvas (slide) colors */
/* > headings and titles */
/* > main menu */
/* > form labels */
/* > input elements */
/* > command button */
/* > border colors */
.x-interview-log .portrait {
  float: right;
  margin-left: 12px;
}
.x-interview-log blockquote {
  margin-top: 24px;
  padding-bottom: 6px;
  padding-top: 12px;
  border-left: 0px;
  border-bottom: 1px solid #c2c3c4;
  border-top: 1px solid #c2c3c4;
}
#der-agilist-agile-coaching .portrait {
  float: right;
  margin-left: 12px;
}
#der-agilist-agile-coaching blockquote {
  margin-top: 24px;
  padding-bottom: 6px;
  padding-top: 12px;
  border-left: 0px;
  border-bottom: 1px solid #c2c3c4;
  border-top: 1px solid #c2c3c4;
}
